<!DOCTYPE html>
<html>
<head>
  <title>BasicBlog</title>
  <%= stylesheet_link_tag    "basic_blog/application", media: "all" %>
  <%= javascript_include_tag "basic_blog/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


</body>
</html>
